.objects {
  list-style-type: none; }
  .objects .object .color {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 15px; }
    .objects .object .color[data-color="red"] {
      background-color: #ef5b62; }
    .objects .object .color[data-color="green"] {
      background-color: #3bb878; }
    .objects .object .color[data-color="blue"] {
      background-color: #438cca; }
